.line-select-list{
    padding: 0px;
    list-style-type: none;
    margin-top: 10px;
}

.line-select-list-item{
    padding: 4px 24px;
    border: 1px solid #fff;
}

.line-select-list-item:hover{
    background-color: #f6faff;
    border: 1px solid #b2d9ff;
    cursor: pointer;
}

.line-select-icon{
    margin-right: 5px;
    visibility: hidden;
    color: #60b044;
}

.line-select-icon-show{
    margin-right: 5px;
    visibility: visible;
}