.condominio-prospectar-sindico {
	font-size: 25px; 
	margin-top: 2px;
	color: #A1A8AD;
}

.condominio-prospectar-endereco {
	font-size: 15px; 
	margin-top: 0px;
	color: #333;
	margin: 5px 0px;
	font-weight: 300;
}

.condominio-prospectar-panel-body {
	font-size: 16px;
}

.condominio-prospectar-btn-upload {
	margin-left: 1px;
}

.condominio-prospectar-acoes.app-opcoes-button {
	display: inline-block;
}



/*.condominio-prospectar-panel-body table tr td ul {
	margin: 0px;
	padding: 0px;
}

.condominio-prospectar-panel-body table tr td ul li {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	text-decoration: none;
}*/

